@charset "UTF-8";
@font-face {
    font-family: 'Idroid';
    src: url('../fontes/idroid.otf') format('truetype');
    /* font-weight: normal;
    font-style: normal; */
}

body {
    background-color: rgb(92, 116, 96);
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: linear-gradient(to top, rgb(0, 0, 0), rgb(43, 146, 98));
    background-attachment: fixed;
    margin-bottom: 0px;
}

header > h1 {
    margin: 0px;
    padding: 10px;
    color: white;
    font-size: 2.5em;
}

header > h2 {
    color: white;
    font-size: 1em;
}

nav > p {
    margin: 0px;
    padding: 10px;
}

nav > p > a {
    text-decoration: none;
    color: white;
    margin: 3px;
}

main {
    background-color: white;
    width: 70%;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 0px;
    padding: 10px;
    padding-top: 20px;
    border-radius: 5px;
}

main > h1 {
    margin: 0px;
}

article {
    text-align: center;
}

article > ul {
    display: inline-block;
    text-align: left;
    width: 44%;
}

footer {
    background-color: rgb(95, 206, 114);
    color: white;
    width: 100%;
    padding: 10px;
}

footer > p {
    margin: 0px;
    text-align: center;
}

h1, h2 {
    text-align: center;
    color: rgb(31, 165, 42);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.493);
}

h3 {
    background-color: rgb(64, 172, 136);
    border-radius: 10px 10px 3px 3px;
    padding: 10px;
    color: white;
    margin: 10px 0px 0px 0px;
}

p {
    text-align: justify;
}

a {
    color: green;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: rgba(0, 0, 0, 0.692);
}

li {
    text-decoration: underline;
}

.font {
    font-family: 'Idroid', Arial, Helvetica, sans-serif;
    text-align: left;
}

#iframe {
    background-color: rgb(37, 95, 37);
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px 0px;
}

#mais {
    background-color: rgb(154, 216, 185);
    margin-top: 0;
    padding: 10px;
    text-shadow: 1px 1px 30px black;
}

article#mais > p {
    margin: 0;
    padding: 10px;
}